@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-image: url("../photos/donation8.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
}

.heading {
    background-image: linear-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.611), rgba(0, 0, 0, 0.898));
    height: 380px;
    padding-top: 250px;
}

.heading>h1 {
    font-size: 40px;
    padding-bottom: 25px;
}

.heading p {
    line-height: 30px;
    margin-bottom: 50px;
}


.btn {
    background-color: #FF5959;
    font-weight: 700;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}

.btn>a {
    letter-spacing: 1.5px;
    color: white;
}

.donate-today {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amnt-head-sctn {
    text-align: center;
    line-height: 28px;
    margin-bottom: 40px;
}

.amnt-head-sctn>h1,
.donate-plan-head>h1 {
    color: black;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}

.amount-selection,
.donate-plan-main {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.amount-selection button {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    border: none;
    width: 125px;
    height: 113px;
    background: #FAFAFA;
    color: #707070;
    border-radius: 5px;
}

#hot-popular {
    background: #FFEEEE;
    border: 3px solid #FF5959;
}

#other-amount-input {
    border: 1px solid rgba(128, 128, 128, 0.353);
    border-style: none none solid;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #B3B3B3;
    min-width: 700px;
    margin-bottom: 20px;
}

.donate-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 120px 0;
}

.plan-box:first-child {
    background: rgba(79, 157, 166, 0.1);
}

.plan-box:nth-child(2) {
    background-color: #FFEEEE;
}

.plan-box:last-child {
    background: rgba(232, 232, 88, 0.2);
}

.plan-box {
    display: flex;
    align-items: center;
    width: 330px;
    height: 320px;
    border-radius: 5px;
    word-wrap: break-word;
}

.plan-box div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 15px 12px;
}

.plan-box>div h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}

.plan-box>div p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}

.the-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: black;
    font-family: monospace;
    font-weight: 200;
    color: rgb(154, 154, 154);
}

.the-footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.the-footer>div h1 {
    font-size: 40px;
    font-family: cursive;
    color: rgb(83, 91, 255);
}